/* === MODALS === */

.modal-dialog {
  max-width: 90%;
}

.modal {
  z-index: 999999999 !important;
}

#modal-video .modal-dialog {
  margin: 1rem auto 0 auto;
  width: 70%;
  height: 100%;
}

#modal-video .modal-content {
  height: 80%;
  padding: 1rem;
}

#modal-video iframe {
  width: 100%;
  height: 100%;
}
